<!DOCTYPE html>
<html>
<head>
  <script src="vue.js" /></script>
  <script src="axios.min.js"></script>
  <script src="vue-ls.js"></script>




  <link rel="stylesheet" type="text/css" href="style.css">

</head>  
<body>

  <div class="vue-test" >

    <p> Set Category</p>
    <select v-model="selectedCategory" v-on:change ="updatePostList()"  >
        <option  v-for="category in categories" v-bind:value="category.cat" >
           {{ category.name }}
        </option>
     </select>

     
     <p> Set Language</p>
    <select v-model="selectedLanguage" v-on:change ="updatePostList()"  >
        <option  v-for="lang in languages" v-bind:value="lang.code" >
           {{ lang.name }}
        </option>
     </select>

     <p> Set Country</p>
    <select v-model="selectedCountry" v-on:change ="updatePostList()"  >
        <option  v-for="country in countries" v-bind:value="country.countryCode" >
           {{ country.name }}
        </option>
     </select>

     <h1>Posts List</h1>
      <ul v-for="post in posts">
        <li>
            <h1> {{post.name}}</h1>
            <p> {{post.description}}</p>
            <hr />
        </li>
     </ul> 
    
 

  </div> 



  <script src="myScript.js"></script>


</body> 
</html>